

<div class="contact-text">
    <h2>Contact</h2>
    <p>За допълнителна връзка: emailanasaita@gmail.com</p>
</div>
офис:
<div class="contact-image">
    <img src="https://www.buildingoftheyear.bg/files/participants/Participant/194/images/6452/Fasada-2-CMYK-2.jpg" alt="Map" class="image" />
</div>

