<div class="container text-center mt-4">

    <p class="text">
        Добре дошли в нашата платформа за събития! Тук ще откриете най-актуалните концерти, фестивали, театрални постановки и спортни събития на едно място. Разгледайте разнообразието от категории, намерете любимите си изпълнители и резервирайте билети бързо и лесно. Независимо дали търсите незабравимо музикално изживяване или интересно събитие за свободното си време, ние сме тук, за да ви помогнем да го откриете.
    </p>

    <img src="https://www.adobe.com/eg_en/creativecloud/photography/discover/media_15cd5d2510ca0ba505f075118a853bdea496c55d2.png?width=2000&format=webply&optimize=medium" class="image" />

</div>